@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Patrick+Hand&family=Red+Hat+Display:ital,wght@0,500;1,300&display=swap');

#logo, #sub-logo {
    color: red;
    font-family: "Red Hat Display", sans-serif;
}