/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Patrick+Hand&family=Red+Hat+Display:ital,wght@0,500;1,300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
    font-family: "comic neue", sans-serif;
    color: #283955;
}

/* Styling for logo */

#logo, #sub-logo {
    color: whitesmoke;
    font-family: "Red Hat Display", sans-serif;
    margin-left: 20px;
}

#logo {
    margin-top: 20px;
}

/* Styling for navigation section */

nav li {
    font-family: "Red Hat Display", sans-serif;
    color: whitesmoke;
    float: right;
    margin-right: 20px;
    font-size: 120%;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

nav a:visited {
    color: whitesmoke
}

/* Hero Image */

#hero-image {
    background: url(/assets/images/hero-image.jpg) center center;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}

/* Style footer */

footer {
    text-align: center;
}

#social li {
    display: inline;
    font-size: 40px;
}

#social a:visited {
    color: #283955;
}

#newsletter {
    background-color: #283955;
    color: whitesmoke;
    width: 80%;
    text-align: center;
    margin-left: 150px;
    line-height: 40px;
}

#newsletter-form {
    border-radius: 5px;
    display: inline-block;
}