/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Patrick+Hand&family=Red+Hat+Display:ital,wght@0,500;1,300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
    font-family: "comic neue", sans-serif;
    color: #283955;
}

/* Styling for logo */

#logo, #sub-logo {
    color: whitesmoke;
    font-family: "Red Hat Display", sans-serif;
    margin-left: 20px;
}

#image-div {
    padding: 20px;
}

header a {
    text-decoration: none;
}

/* Styling for navigation section */

nav li {
    font-family: "Red Hat Display", sans-serif;
    color: whitesmoke;
    float: right;
    margin-right: 20px;
    font-size: 120%;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

nav a:visited {
    color: #6e84a9;
}

/* Hero Image */

#hero-image {
    background: url(/assets/images/hero-image.jpg) center center;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}

/* About Us Section */

#about {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#who {
    width: 30%;
    float: left;
}

#what {
    width: 30%;
    display: inline-block;
}

#why {
    width: 30%;
    float: right;
    display: inline-block;
}

.about-box {
    border: solid 2px #283955;
    margin: 20px;
    border-radius: 7px;
    height: 200px;
}

#about h2 {
    padding: 7px;
}

#about p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Footer Section */

footer {
    text-align: center;
}

#social li {
    display: inline;
    font-size: 40px;
}

#social a:visited {
    color: #6e84a9;
}

#newsletter {
    background-color: #283955;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.submit-button {
    border-radius: 4px;
    border: solid #283955;
    background-color: whitesmoke;
    font-family: "comic neue", sans-serif;
    padding: 2px 8px;
}

.submit-button:hover {
    background-color: #6e84a9;
    color: whitesmoke;
}

#email {
    border-radius: 4px;
    padding: 2px 8px;
}