@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Patrick+Hand&family=Red+Hat+Display:ital,wght@0,500;1,300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

#logo, #sub-logo {
    color: red;
    font-family: "Red Hat Display", sans-serif;
    margin-left: 20px;
}

#logo {
    margin-top: 20px;
}

li {
    font-family: "Red Hat Display", sans-serif
}