/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Patrick+Hand&family=Red+Hat+Display:ital,wght@0,500;1,300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
    font-family: "comic neue", sans-serif;
    color: #283955;
}

/* Styling for logo */

#logo, #sub-logo {
    color: whitesmoke;
    font-family: "Red Hat Display", sans-serif;
    margin-left: 20px;
    display: inline-block;
}

#image-div {
    padding: 20px;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

#image-div .fa-solid {
    color: #a3a647;
}

/* Styling for navigation section */

nav li {
    color: whitesmoke;
    font-family: "Red Hat Display", sans-serif;
    float: right;
    margin-right: 20px;
    font-size: 120%;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: #6e84a9;
}

nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

#navigation {
    display: block;
    float: right;
}

/* Hero Image */

#hero-image {
    background: url(/assets/images/hero-image.jpg) center center;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* About Us Section */

#about-header {
    font-size: 200%;
    text-align: center;
    line-height: 60px;
}

.about-box {
    border: solid 2px #283955;
    margin: 2.5%;
    border-radius: 7px;
    min-height: 180px;
    width: 28%;
    float: left;
    text-align: center;
}

.about-box h2 {
    padding-top: 7px;
}

.about-box p {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
}

/* Footer Section */

footer {
    text-align: center;
    clear:both;
}

#social li {
    display: inline;
    font-size: 40px;
    padding: 5px;
}

#social a:visited {
    color: #6e84a9;
}

#newsletter {
    background-color: #283955;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.submit-button {
    border-radius: 4px;
    border: solid #283955;
    background-color: whitesmoke;
    font-family: "comic neue", sans-serif;
    padding: 2px 8px;
}

.submit-button:hover {
    background-color: #6e84a9;
    color: whitesmoke;
    border: solid 2px whitesmoke;
}

#email {
    border-radius: 4px;
    padding: 2px 8px;
}

#social-media h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Events Page */

section > h2 {
    text-align: center;
    clear: both;
    margin-top: 10px;
}

img {
    width: 220px;
    height: 220px;
}

.event {
    width: 28%;
    float: left;
    margin: 2%;
}

.event-section {
    text-align: center;
}

.event-section > p {
    margin: 5px 10px;
}

.event-subheading {
    background-color: #6e84a9;
    color: whitesmoke;
}

/* Tips Page */

#tips {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#shopping, #home, #out, #work, #garden, #clothes {
    width: 28%;
    float: left;
}

.tip-box {
    border: solid 2px #283955;
    margin: 2.5%;
    border-radius: 7px;
    height: 700px;
}

#tips ul {
    width: 90%;
    margin-left: 7%;
    margin-right: 7%;
    text-align: left;
}

#tips ul > li {
    padding: 5px 0px;
}

#tips h2 {
    padding: 7px;
    font-weight: bold;
}

#tips p {
    padding: 2.5%;
}

#tip-submission {
    width: 100%;
    height: 500px;
    clear: both;
}

#tip-form {
    color: whitesmoke;
    background-color: rgba(99, 132, 169, 0.8);
    position: absolute;
    left: 34%;
    padding: 35px;
    margin: 4% 0 4% 0;
    max-width: 400px;
    border-radius: 7px;
}

#tip-form h2 {
    margin-bottom: 12px;
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 10 0 20 0;
}

.text-input2 {
    width: 100%;
    height: 60px;
    margin: 10 0 20 0;
}

#email, #firstname, #lastname, #suggestion {
    border-radius: 4px;
    padding: 2px 8px;
    margin: 4px 0 8px 0;
}

.submit-button2 {
    border-radius: 4px;
    border: solid #283955;
    background-color: whitesmoke;
    font-family: "comic neue", sans-serif;
    height: 25px;
    padding: 2px 8px;
}

.submit-button2:hover {
    background-color: #283955;
    color: whitesmoke;
    border: solid 2px whitesmoke;
}

/* For screen sizes from 1280px wide and down */
@media screen and (max-width: 1280px) {

    .about-box {
        width: 90%;
        clear: both;
        min-height: 70px;
        margin: 1% 5%;
    }

/* For screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {
    #logo {
        max-width: 60%;
    }

}